In [1]:
# Import the required libraries and dependencies
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from pathlib import Path


%matplotlib inline

In [15]:
# Load the environment variables from the .env file by calling the load_dotenv function
load_dotenv()

True

In [16]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2")

In [23]:
# Set start and end dates of 10 years back from your current date

tickers = ["BTC","ETH"]
timeframe = "1D"
start_date = pd.Timestamp("2011-04-27", tz="America/New_York").isoformat
end_date =  pd.Timestamp("2021-04-27", tz="America/New_York").isoformat

In [24]:
# The start and end dates should be updated with the information set above
ten_years_prices_crypto_df = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df

ten_years_prices_crypto_df.dropna()

                               BTC                                       ETH  \
                              open     high      low    close  volume   open
time
2021-04-16 00:00:00-04:00  100.890  100.890  98.7700  99.2700  2795.0  28.49
2021-04-19 00:00:00-04:00   99.120   99.130  98.9850  99.1012  3761.0  29.18
2021-04-20 00:00:00-04:00   98.790   99.300  98.7900  98.8800  3259.0  28.95
2021-04-21 00:00:00-04:00   99.010   99.010  98.9000  98.9000   386.0  28.24
2021-04-22 00:00:00-04:00   98.925   99.040  98.8600  98.9100  1153.0  28.77
2021-04-23 00:00:00-04:00   99.010   99.010  98.8801  98.9910  1425.0  28.83
2021-04-26 00:00:00-04:00   99.000   99.000  98.9082  98.9100  1942.0  28.91
2021-04-27 00:00:00-04:00   98.950   98.950  98.8200  98.8565  1022.0  28.76
2021-04-28 00:00:00-04:00   98.880   98.880  98.7600  98.8300   543.0  29.68
2021-04-29 00:00:00-04:00   98.810   98.900  98.8000  98.9000  1499.0  31.52
2021-04-30 00:00:00-04:00   98.920   98.930  98.8800  98.9200  1681.0  30.66
2021-05-03 00:00:00-04:00   98.910   98.945  98.9100  98.9450   782.0  29.41
2021-05-04 00:00:00-04:00   98.960   99.050  98.9600  99.0500  2182.0  30.35
2021-05-05 00:00:00-04:00   99.000   99.000  98.9940  99.0000  2573.0  31.14
2021-05-06 00:00:00-04:00   99.100   99.101  99.0310  99.0750  3703.0  30.84
2021-05-07 00:00:00-04:00   99.150   99.215  99.1500  99.1700  1315.0  31.57
2021-05-10 00:00:00-04:00   99.200   99.200  99.0700  99.1200  2166.0  31.29


                            high      low   close  volume
time
2021-04-16 00:00:00-04:00  29.43  28.4900  29.170  476979
2021-04-19 00:00:00-04:00  29.40  28.6200  28.850  266218
2021-04-20 00:00:00-04:00  29.17  28.0200  28.280  267794
2021-04-21 00:00:00-04:00  28.95  28.2300  28.750  318757
2021-04-22 00:00:00-04:00  29.06  28.5300  28.600  322321
2021-04-23 00:00:00-04:00  29.24  28.5400  28.810  332659
2021-04-26 00:00:00-04:00  29.74  28.4300  28.770  372335
2021-04-27 00:00:00-04:00  29.12  28.6700  28.930  319516
2021-04-28 00:00:00-04:00  31.62  29.3900  31.490  892692
2021-04-29 00:00:00-04:00  31.90  30.7000  30.960  337363
2021-04-30 00:00:00-04:00  30.70  28.0000  28.710  694084
2021-05-03 00:00:00-04:00  30.77  29.3000  30.610  558507
2021-05-04 00:00:00-04:00  31.15  29.6800  30.980  489529
2021-05-05 00:00:00-04:00  31.49  30.2300  30.820  324149
2021-05-06 00:00:00-04:00  31.12  30.1000  31.100  244711
2021-05-07 00:00:00-04:00  32.10  30.9750  31.983  779865
2021-05-10 00:00:00-04:00  32.15  31.0516  31.390  618579

In [26]:
btc_df =  pd.read_csv(Path("./Resources/BTC_USD_2013-09-30_2021-05-13-CoinDesk.csv"),
    index_col="Date",  
    parse_dates=True, 
    infer_datetime_format=True)

doge_df = pd.read_csv(Path("./Resources/DOGE_USD_2019-02-27_2021-05-13-CoinDesk.csv"),
    index_col="Date",  
    parse_dates=True, 
    infer_datetime_format=True)

eth_df = pd.read_csv(Path("./Resources/ETH_USD_2015-08-08_2021-05-13-CoinDesk.csv"),
    index_col="Date",  
    parse_dates=True, 
    infer_datetime_format=True)

xrp_df = pd.read_csv(Path("./Resources/XRP_USD_2018-05-31_2021-05-13-CoinDesk.csv"),
    index_col="Date",  
    parse_dates=True, 
    infer_datetime_format=True)

ltc_df = pd.read_csv(Path("./Resources/LTC_USD_2018-05-31_2021-05-13-CoinDesk.csv"),
    index_col="Date",  
    parse_dates=True, 
    infer_datetime_format=True)

In [27]:
display(btc_df.head() )
display(doge_df.head() )
display(eth_df.head() )
display(xrp_df.head() )
display(ltc_df.head() )

,Currency,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD)
Date,,,,,
2013-09-30,BTC,123.65499,124.30466,124.75166,122.56349
2013-10-01,BTC,125.45500,123.65499,125.75850,123.63383
2013-10-02,BTC,108.58483,125.45500,125.66566,83.32833
2013-10-03,BTC,118.67466,108.58483,118.67500,107.05816
2013-10-04,BTC,121.33866,118.67466,121.93633,118.00566

,Currency,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD)
Date,,,,,
2019-02-27,DOGE,0.001944,0.001962,0.001963,0.001908
2019-02-28,DOGE,0.001912,0.001944,0.001955,0.001896
2019-03-01,DOGE,0.001956,0.001912,0.001977,0.001911
2019-03-02,DOGE,0.001970,0.001957,0.001980,0.001940
2019-03-03,DOGE,0.001948,0.001970,0.001989,0.001940

,Currency,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD)
Date,,,,,
2015-08-08,ETH,0.909046,1.749289,1.916540,0.794497
2015-08-09,ETH,0.692321,0.909046,0.909046,0.692321
2015-08-10,ETH,0.668067,0.692321,0.692321,0.654331
2015-08-11,ETH,0.850151,0.668067,1.148621,0.668067
2015-08-12,ETH,1.266023,0.850151,1.266023,0.850151

,Currency,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD)
Date,,,,,
2018-05-31,XRP,0.609705,0.616405,0.618404,0.607282
2018-06-01,XRP,0.617604,0.614872,0.621169,0.608681
2018-06-02,XRP,0.643043,0.624189,0.650921,0.618503
2018-06-03,XRP,0.667634,0.644291,0.677069,0.640769
2018-06-04,XRP,0.669680,0.690562,0.706326,0.643054

,Currency,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD)
Date,,,,,
2018-05-31,LTC,117.475053,118.974662,119.628628,117.006761
2018-06-01,LTC,119.934676,118.307052,120.452653,117.390816
2018-06-02,LTC,123.222694,120.171853,124.229394,118.542360
2018-06-03,LTC,125.365456,123.500674,127.920242,122.112908
2018-06-04,LTC,119.522003,124.869538,126.883812,118.303633